# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
*.manifest
*.spec

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# Docker
*.env.local

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# MyPy
.mypy_cache/
